@use '../core/mixins' as *;

.dropdown {
  min-width: 600px;
  margin-bottom: 30px;

  @include md {
    min-width: unset;
    width: 100%;
  }

  label {
    font-size: 20px;
    font-weight: 500;
  }

  select {
    margin-top: 8px;
    padding: 8px;
    width: 100%;
  }
}
